div.ui-navbar {
	margin-right:20px;
	margin-left:-10px;
}

.ui-bar-b hi{
    background-color: #990000;
}

span.ui-btn-text {
	font-size:11px;
}

.ui-bar-b {

	background-image: -webkit-gradient(linear,left top,left bottom,from(#990000),to(#660000));
	background-image: -webkit-linear-gradient(#990000,#660000);
	background-image: -moz-linear-gradient(#990000,#660000);
	background-image: -ms-linear-gradient(#990000,#660000);
	background-image: -o-linear-gradient(#990000,#660000);
	background-image: linear-gradient(#990000,#660000);
	text-shadow:0 -1px 1px #000;
	border:0;
	border-bottom:1px solid black;
	
}

.data-filter .ui-bar-b {
	border-bottom:0;
}

.ui-bar-b h1.ui-title {

	line-height:1.4em !important;
	margin-top: 0.8em !important;
}

#searchform {
	display:none;
}


.data-filter #searchform {
	display:block;
	padding:15px;
	height:15px;
	border-top:1px solid black;
}

#phonebutton { margin-bottom:30px; margin-top: 40px; }
#mapbutton { margin-bottom:20px; float:right ; top:-4px; }

#phonebutton span { font-size: 20px ; }
#emailbutton span { font-size: 15px ; }
#mapbutton span { font-size: 17px ; }